@charset "UTF-8"; 
  body{
    .explanation{
      float: left;
    }
    
    h1{
      float: left;
    }
    h2{
      float: left;
    }
    h3{
      float: left;
    }
     h4{
      float: left;
    }
    .btn {
      -webkit-appearance: none;
    }
}
